nav {
  height: 51px;
  width: 1266px;
}
.logo {
  position: absolute;
  top: 40px;
  left: 200px;
}
nav ul li a {
  text-decoration: none;
  margin: 20px;
  padding: 5px;
  color: black;
  font-family: Poppins;
  font-size: 16px;
}
nav ul {
  position: absolute;
  top: 40px;
  right: 150px;
}
nav li {
  display: inline;
}
h2 {
  font-size: 40px;
}
h1 {
  font-family: Noe Display, sans-serif;
  padding-bottom: 5px;
  font-size: 64px;
}
h3 {
  padding-bottom: 5px;
  font-size: 32px;
}

div > aside {
  position: absolute;
  top: 180px;
  left: 210;
  margin-right: 135px;
}
aside p {
  width: 538px;
  text-wrap: stable;
  font-family: Poppins;
  font-size: 20px;
}
aside ul a {
  display: flex;
  text-decoration: none;
  color: black;
  font-family: Poppins;
  font-size: 16px;
}
.form {
  position: absolute;
  left: 700px;
  top: 130px;
}
label {
  font-family: Poppins;
  font-size: 14px;
}
button {
  position: relative;
  top: 10px;
  border: none;
  color: white;
  background-color: black;
  height: 56px;
  width: 565px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 20px;
  font-family: poppins;
}
input {
  border-radius: 0%;
  width: 563px;
  height: 46px;
  border: none;
  background-color: #f7f7f7;
}
select {
  width: 563px;
  height: 46px;
  border: none;
  background-color: #f7f7f7;
  color: #b2b2b2;
  font-family: poppins;
  font-size: 14px;
  padding-left: 10px;
}

#messagebox {
  width: 563px;
  height: 165px;
  box-sizing: border-box;
  background-color: #f7f7f7;
  border: none;
  border-radius: none;
  resize: none;
}
